body {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  font-size: 1.1rem;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 60vh;
  justify-content: flex-end;
}

.user-detail-element,
.zip-code-element {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

label {
  width: 25%;
}

.submit-form {
  margin-top: 10px;
  text-align: center;
}

#submitForm {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#submitForm:hover {
  background-color: #45a049;
}
.good {
  position: absolute;
  top: 19vw;
  opacity: 0;
  display: none;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
/* here */
.error {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.error.active {
  background-color: #e84d4d;
  padding: 5px;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

input,
select {
  width: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {
  width: 70%;
}

input:valid {
  border-color: #6c9c4e;
}

input:invalid {
  border-color: #e84d4d;
}

input.invalid {
  border-color: #e84d4d;
}
